@use './colors' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	background: #797373;
}

nav {
	text-transform: uppercase;

	.nav-link, .navbar-nav .show>.nav-link, .navbar-brand, .fa-bars {
		color: $white;
	}

	.nav-link:focus, .nav-link:hover, .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
		color: $main-color;
	}
}

.logo {
	width: 70px;
	height: 70px;
	border-radius: 50px;
	color: $main-color;
}


